/* CenterModal */

.centerModal-enter {
  transform: translateY(200%);
}
.centerModal-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s;
}
.centerModal-exit {
  opacity: 1;
  transform: translateY(0);
}
.centerModal-exit-active {
  transform: translateY(300%);
  transition: all 0.5s;
}

/* LeftModal */

.leftModal-enter {
  transform: translateX(-200%);
}
.leftModal-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s;
}
.leftModal-exit {
  opacity: 1;
  transform: translateX(0);
}
.leftModal-exit-active {
  transform: translateX(-300%);
  transition: all 0.5s;
}

/* RightModal */

.rightModal-enter {
  transform: translateX(200%);
}
.rightModal-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s;
}
.rightModal-exit {
  opacity: 1;
  transform: translateX(0);
}
.rightModal-exit-active {
  transform: translateX(300%);
  transition: all 0.5s;
}

/* TopModal */

.topModal-enter {
  transform: translateY(-200%);
}
.topModal-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s;
}
.topModal-exit {
  opacity: 1;
  transform: translateY(0);
}
.topModal-exit-active {
  transform: translateY(-300%);
  transition: all 0.5s;
}

/* BottomModal */
.bottomModal-enter {
  transform: translateY(200%);
}
.bottomModal-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s;
}
.bottomModal-exit {
  opacity: 1;
  transform: translateY(0);
}
.bottomModal-exit-active {
  transform: translateY(300%);
  transition: all 0.5s;
}

/* Overlay */
.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  inset: 0;
}
