.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.dropdown-options {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
}

.dropdown-options li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.dropdown-options li:last-child {
  border-bottom: none;
}
